[Unit]
Description=SpringBootApp
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu
ExecStart=/bin/bash -c 'mkdir -p logs && exec /usr/bin/java -jar WhatsappParser-0.0.1-SNAPSHOT.jar >> logs/$(date +%%Y-%%m-%%d).log 2>&1'
SuccessExitStatus=143
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
